<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%- title %></h1>
    <p>Welcome to <%= title %></p>
		<% if ( flag ) { %>
			<div ><%= test %></div>
		<% } %>
		<%# for( var i = 0; i < list.length; i++ ){ %>
			<li>
				<%# list[i] %>
			</li>
		<%# } %>
		
		<%- include( './test.ejs' ) %>
		11111
  </body>
</html>
